<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.web-extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariWebExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>content.js</string>
			</dict>
		</array>
		<key>SFSafariWebExtensionDictionary</key>
		<dict>
			<key>Extension Identifier</key>
			<string>net.tarq.shoptout.Extension</string>
			<key>Extension Name</key>
			<string>ShoptOut</string>
			<key>Extension Scripts</key>
			<array>
				<string>background.js</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
